body {
    background: linear-gradient(to top, #ffffff, #cccccc, #418a40);

}

.t {
    text-align: center;
    padding: 20%;
    font-size: 120%;
}

.b {
    background-color: #81b980;
    padding: 10px;
    border-width: 0.5cap;
}

.image {
    width
}